@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
body{
	color: white;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to top, #7797dd, #5fbefd);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; /* Set flex to the whole body */
}

main {
    flex: 1;
    overflow: auto;
}

