.loginForm{
    font-size: 16px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 25px;
    height: -webkit-fill-available;
    margin: 0 auto;
    width: 75%;
}

.loginImg{
    width: 15%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

input{
    width: 15%;
    display: block;
    margin: 0 auto;
}