@font-face {
    font-family: rocko;
src: url('../font/rocko.ttf');
}

main{
    color: black;
}

.alert-Failed {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.3rem;
    margin-bottom: 16px;
    color: red;
}


svg{
    fill: white;
}
