/** 
    Requires universal tag css set in login.css
    Custom class assigned as necessary
*/
 

.profileForm {
  font-size: 19px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  max-width: 500px;
  margin: 0 auto;
  padding: 55px 0;
  height: -webkit-fill-available;
  text-align: center;
}

.profileImg {
  width: 20%;
  /* display: block; */
  text-align: center;
  margin: 0 auto;
}

.profileButton {
  background-color: white;
  color: #7797dd;
  border: 0;
  padding: 10px 15px;
  border-radius: 3px;
  width: 282px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto 10px auto;
}

label.profile{
  text-align: left;
}

input.profile{
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, .25);
  background-color: rgba(255, 255, 255, .25);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300; 
}

h1.profile{
  font-size: 40px;
  font-weight: 200;
  color: white;
  font-weight: bold;
}