
  @font-face {
        font-family: rocko;
    src: url('../font/rocko.ttf');
    }

.registerForm{

    font-family: rocko;
    font-size: 19px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px;

    width: 400px;

    background: #FF936C;
    overflow: hidden;





}