{% extends "layout.html" %}
{% block chat %}
<div class="chatroom">
    <section class="sideview">
        <div>
            <div>
                <span class="avatar">{{ initials }}</span>
                <div id="mainMenu" class="meatballs">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#ffffff;}.cls-2{fill:#f0f0f0;}</style></defs><title/><g id="dots"><circle class="cls-1" cx="16" cy="16" r="3"/><circle class="cls-1" cx="16" cy="8" r="3"/><circle class="cls-1" cx="16" cy="24" r="3"/><path class="cls-2" d="M16,13v6a3,3,0,0,0,0-6Z"/><path class="cls-2" d="M16,5v6a3,3,0,0,0,0-6Z"/><path class="cls-2" d="M16,21v6a3,3,0,0,0,0-6Z"/></g></svg>
                </div>
                <div class="subMenu">
                    <div class="option" id="editProfile">
                        Edit Profile
                    </div>
                    <div class="option" id="logout">
                        Logout
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <!-- Use special socketIO response to populate status indicator -->
        <h3 class="allUsers">All Users</h3>
        <ul>
            <li class="online"> DJ </li>
            <li class="online"> JD </li>
            <li class="offline"> Phillip </li>
            </ul>
    </section>

    <section class="mainview">

        <!-- Items in this section rendered by SocketIO -->
        <section class="chat-view" id="chat-view">
            <!-- <div class="message received">
                <span class="avatar">PB</span>
                <p>This aint no real message, but a test.</p>
            </div>

            <div class="message sent">
                <p> This is a test. Not a real Message!</p>
            </div> -->
        </section>

        <footer>
            <form data-username="{{username}}" class="chatSend" id="chatSend" method="POST" action='#'>
                <input class="chatMessage" type="text" name="message_data" id="message_data" placeholder="Type a message ..." />
                <button class="sendButton" name="send" type="submit">Send</button>
            </form>
        </footer>
    </section>
</div>
{% endblock %}
