<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat!</title>
</head>
<body>
    <nav>

    </nav>
<div id = "main-panel">
    <nav id="side-bar">


    </nav>

    <nav id="right-panel">
    <div id="display-area">


      </div>

      <div id="message-input">
          <input type="text" id="message_box" placeholder="Type a Message" autocomplete="off"/>
          <button type="button" id="send_message_button">Send</button>
        </div>
    </nav>

</div>

    <script src="{{  url_for('static', filename='node_modules/socket.io/client-dist/socket.io.js') }}"></script>
    <script src="{{  url_for('static', filename='scripts/socketio.js') }}"></script>

</body>
</html>