{% extends "layout.html" %} {% block register %}
<div class="registerForm">
  <form method="post" action="#">
    <svg
      class="registerImg"
      viewBox="0 0 32 32"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <style>
          .cls-1 {
            fill: #5f7cf9;
          }
          .cls-2 {
            fill: #8c9eff;
          }
          .cls-3 {
            fill: #4062ed;
          }
        </style>
      </defs>
      <title />
      <g id="People">
        <circle class="cls-1" cx="16" cy="8.5" r="5.5" />
        <path
          class="cls-2"
          d="M16,15a9,9,0,0,0-9,9v4a1,1,0,0,0,1,1H24a1,1,0,0,0,1-1V24A9,9,0,0,0,16,15Z"
        />
        <path class="cls-3" d="M16,3V14A5.5,5.5,0,0,0,16,3Z" />
        <path class="cls-1" d="M16,15V29h8a1,1,0,0,0,1-1V24A9,9,0,0,0,16,15Z" />
      </g>
    </svg>

    <h1>Chat</h1>
    <div class="form-group">
      <input type="text" name="message" placeholder="Type a Message" />
    </div>


    <div class="form-group">
      <input
        type="send"
        name="sendmessage"
        value="Send Message"
        class="registerButton btn btn-primary"
      />
    </div>
  </form>
</div>
{% endblock %}
