<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/side.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/body.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/register.css')}}">

<div style="display: flex;">
    <!-- Main -->
    <main style="
        /* Take the remaining width */
        flex: 1;

        /* Make it scrollable */
        overflow: auto;
    ">
        {% block login %}
        {% endblock %}
        {% block register %}
        {% endblock %}

    </main>
</div>

</html>