<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/side.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/body.css')}}">
<div style="display: flex;">
    <!-- Sidebar -->
    <aside style="width: 30%;">

        {% block side %}
        {% endblock %}

    </aside>

    <!-- Main -->
    <main style="
        /* Take the remaining width */
        flex: 1;

        /* Make it scrollable */
        overflow: auto;
    ">

        {% block main %}
        {% endblock %}


    </main>
</div>

</html>